/* Core ***********************************************
*******************************************************/
body { background-color: #000; color: #FFF; }

/* Bootstrap ******************************************
*******************************************************/
.modal-backgrop.in { opacity: .8; }
.clear { clear: both; }

/************** scrollbar ***************/
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }


/* Game Controls ***************************************
********************************************************/
.game-modal { width: 90%; height: 90%; }
.game-modal .modal-content { background-color: #272823; color: #EEE; height: 100%; }
.game-modal .modal-body { height: 100%; }

#gameWrapper #saveNotify { position: absolute; top: 15px; right: 20px; background: #272823; opacity: 0; }
#gameWrapper #gameContent { font-family: "Courier New", Courier, monospace; height: 98%; overflow: hidden; }

#gameWrapper #gameMain { position: absolute; width: 98%; height: calc(100% - 80px); overflow: hidden; }
#gameWrapper #gameInput { position: absolute; bottom: 20px; width: 98%; height: 30px; }
#gameWrapper #gameFooter { position: absolute; bottom: 0px; width: 98%; height: 20px; }

#gameWrapper .gameMenu { position: fixed; right: 20px; bottom: 12px; color: #666; z-index: 10; }
#gameWrapper .gameMenu span { cursor: pointer; float: right; margin-left: 20px; }
#gameWrapper .gameMenu span:hover { text-decoration: underline; }

#gameWrapper #commandTxt { background-color: #272823; border: 0px; color: #d3d3d3; font-family: "Courier New", Courier, monospace; font-size: 12pt; width: 98%; }
#gameWrapper #commandTxt:focus { outline: 0; }

#gameWrapper #gameRoomPanel { position: absolute; right: 5px; top: 10px; width: 21%; border: 1px solid #545252; padding: 10px; height: 20%; }
#gameWrapper #gamePlayerStatsPanel { position: absolute; right: 5px; top: calc(20% + 25px); width: 21%; border: 1px solid #545252; padding: 10px; }
#gameWrapper #gamePlayerStatsPanel .gamePanelHeader { font-weight: bold; font-size: 16px; }
#gameWrapper #gamePlayerStatsPanel .gamePlayerStatsSpacer { height: 10px; clear: both; }
#gameWrapper #gameRoomPanel div, #gameWrapper #gamePlayerStatsPanel div { width: 100%; }

#gameWrapper .fa-heart { color: red; margin-right: 5px; } 

/* Button */
#gameWrapper .button { position: relative; text-align: center; border: 1px solid #EEE; padding: 5px 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#gameWrapper .button:hover { text-decoration: underline; }
#gameWrapper .button.disabled, #gameWrapper .button.disabled:hover { cursor: default; border-color: #444; color: #444; text-decoration: none; }
#gameWrapper .button .cooldown { position: absolute; top: 0px; left: 0px; z-index: -1; height: 100%; background-color: #DDDDDD; }

/* Notifications */
#gameWrapper #gameNotifications { height: 100%; width: 75%; overflow: hidden; position: absolute; left: 0px; }
#gameWrapper #gameNotifications .notification { margin-bottom: 10px; }
#gameWrapper #notifyGradient { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background-color: #272823; background: -webkit-linear-gradient( rgba(39, 40, 35, 0) 0%, rgba(39, 40, 35, 1) 100% ); background: linear-gradient( rgba(39, 40, 35, 0) 0%, rgba(39, 40, 35, 1) 100% ); filter: alpha( Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500 ); }

/* Tooltip */
#gameWrapper .tooltip { display: none; padding: 2px 5px; position: absolute; background-color: #171813; border: 1px solid black; box-shadow: -1px 3px 2px #111; z-index: 999; }
#gameWrapper .tooltip.bottom { top: 30px; }
#gameWrapper .tooltip.right { left: 2px; }
#gameWrapper .tooltip.left {	right: 0px; }
#gameWrapper .tooltip.top { bottom: 20px; }
#gameWrapper *:hover > .tooltip { display: block; }
#gameWrapper .tooltip:hover {	display: none !important; }
#gameWrapper .disabled:hover > .tooltip, #gameWrapper .button.free:hover > .tooltip {display : none; }
#gameWrapper #event .button.disabled:hover > .tooltip { display: block; }
#gameWrapper .row_key { clear : both; float: left; }
#gameWrapper .row_val { float: right; }
#gameWrapper .total { font-weight: bold; }


/* Events */
#gameWrapper .eventPanel { border: 2px solid transparent; left: 50px; position: absolute; top: 75px; width: 92%; z-index: 20; }
#gameWrapper .eventPanel:after { background-color: #20211c; position: absolute; top: -1px; left: -2px; width: 100%; height: 100%; content: " "; border: 2px solid #5d5555; z-index: -2; }
#gameWrapper .eventPanel .button { float:left; margin-right: 20px; }
#gameWrapper .eventTitle { display: inline-block; font-weight: bold; position: relative; border-bottom: 1px solid #635c5c; width: 99%; margin: 0px 5px; padding: 5px 8px; }
#gameWrapper .eventTitle:after {	bottom: 32%; content: " "; height: 5px; left: 0; position: absolute; width: 100%; z-index: -1; }
#gameWrapper #eventDescription {	position: relative; min-height: 70px; padding: 10px 10px 10px 6px; }
#gameWrapper #eventDescription textarea { width: 100%; height: 150px; color: #000; }
#gameWrapper #eventDescription > div { padding: 5px; }
#gameWrapper #eventButtons { position: relative; bottom: 5px; }
#gameWrapper #eventButtons > .button { margin: -5px 10px 18px; margin-right: 15px; }
#gameWrapper #eventLootDrops { margin-bottom: 10px; }

/* Combat! */
#gameWrapper .eventPanel #combatPanel { position: relative; padding: 7px 0px 25px 0px; margin-bottom: 25px; min-height: 100px; background-color: #272727; border: 1px solid #50504e; }
#gameWrapper .eventPanel .fighterStats .fighterStatsName { font-size: 16px; font-weight: bold; }
#gameWrapper .eventPanel #gamePlayerStats { position: absolute; left: 5px; border: solid 2px #464645; padding: 10px; width: 20%; }
#gameWrapper .eventPanel #gameEnemyStats { position: absolute; right: 5px; border: solid 2px #464645; padding: 10px; width: 20%; }
#gameWrapper #eventDescription .fighter {	position: absolute; padding: 5px; text-align: center; }
#gameWrapper #gamePlayer {left : 25%; }
#gameWrapper #gameEnemy { right: 25%; }
#gameWrapper #fightersPanel .bullet { padding: 0px 20px 0px 20px; bottom: 50px; position: absolute; height: 1px; line-height: 1px; }
#gameWrapper .damageText { position: absolute; bottom: 30px; left: 50%;margin-left: -50%; }
#gameWrapper #lootButtons { padding-bottom: 0px !important;	margin: 25px 0px 10px 5px; position: relative; bottom: 5px; }
#gameWrapper #lootButtons:before { content: "loot:";	position: absolute;	top: -18px;	left: 0px; }



